.rightPanel {
  background-color: #ffffff;
  padding: 0px;
  border-radius: 16px;
  position: fixed;
  left: 10px;
  top: 50px;
  z-index: 10;
}

.rightPanelButton {
  padding: 5px;
  margin: 10px;
  border: 2px dashed #D8D8D8;
  border-radius: 16px;
}


